* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  background-color: rgb(236, 236, 236);
}

.body-wrapper {
  overflow: hidden;
}

.navbar-container,
.navbar {
  background: transparent;
}

.navbar-container {
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar {
  height: 50px;
  width: 60%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.navlink {
  text-decoration: none;
  color: rgba(253, 253, 253, 0.9);
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 20px;
  padding: 5px;
  position: relative;
  padding: 0px 25px 0px 25px;
  top: 10px;
  letter-spacing: 0.2rem;
}

.navlink:hover {
  transform: translateY(1px);
  color: rgb(14, 175, 9);
}

.navlink::before {
}

/* title styles - start */

.title-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 150px;
  left: 330px;
}

.title-box p {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: rgb(236, 236, 236);
  font-size: 120px;
  text-shadow: 3px 3px 4px #000;
  transition: color 1s;
  cursor: default;
}

.title-box p:hover {
  color: rgb(14, 175, 9);
  transition: 0.1s;
}

#char5 {
  text-transform: uppercase;
}

/* title styles - end */

.content1-wrapper {
  display: block;
  width: 100%;
  height: 800px;
  background: url('./img/img1.jpg') no-repeat fixed center;
  background-size: cover;
}

.content1 {
  display: flex;
  flex-direction: column;
}

.wrapper-1 {
  width: 100vw;
}

.wrapper-1-1 {
  width: 25vw;
  float: right;
  padding: 30px;
  margin-top: 5vh;
  margin-right: 20.3vw;
  color: rgb(236, 236, 236);
}

.text-content1 {
  font-size: 25px;
  color: rgb(236, 236, 236);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

.text-content1::before {
  content: open-quote;
}

.text-content1::after {
  content: close-quote;
}

.content2-wrapper {
  width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
}

.content2 {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 320px;
  min-width: 350px;
  background-color: rgb(253, 253, 253);
  height: 450px;
  padding: 15px;
  margin: 10px;
  margin-top: -30px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 19px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 19px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 19px -4px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
  margin-bottom: 50px;
}

.card-title {
  font-family: 'Noto Sans SC', sans-serif;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  padding: 15px 0 10px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.274);
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.card-icon {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60px;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.card p {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  text-align: justify;
}

.content3-wrapper {
  min-height: 45vh;
}

.content3 {
  width: 60vw;
  margin: auto;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.hacker-img {
  width: 400px;
  left: 0px;
}

.content3-left-pusher {
  width: 400px;
  min-width: 400px;
  min-height: 100px;
  margin: 0;
}

.line {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  width: inherit;
  position: absolute;
  margin-top: 323px;
}

.content3-text-container {
  margin-right: 40px;
  height: 250px;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  position: relative;
  right: 50px;
}

.content3:hover .content3-text-container {
  height: 260px;
  width: 510px;
  margin-right: 35px;
  margin-top: -5px;
  transition: 0.3s;
}

.content3:hover .content3-h2 {
  transform: rotate(0deg);
  transition: 0.3s;
}

.content3:hover .content3-text {
  transform: rotate(0deg);
  transition: 0.3s;
}

.top-right {
  height: 50px;
  width: 50px;
  border-top: solid rgb(14, 175, 9);
  border-right: solid rgb(14, 175, 9);
  border-width: 5px;
  position: absolute;
  right: 0px;
  top: 0px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.bottom-left {
  height: 50px;
  width: 50px;
  border-bottom: solid rgb(14, 175, 9);
  border-left: solid rgb(14, 175, 9);
  border-width: 5px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.content3-h2 {
  transform: rotate(-3deg);
  font-size: 60px;
  padding: 5px;
  font-family: 'Noto Sans SC', sans-serif;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-top: -10px;
  margin-left: 20px;
  transition: 0.3s;
}

.content3-text {
  transform: rotate(-3deg);
  font-family: 'Noto Sans SC', sans-serif;
  color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin-left: 25px;
  transition: 0.3s;
  text-align: center;
}

.content4-wrapper {
  width: 100%;
  height: 700px;
}

.content4 {
  width: 60%;
  min-height: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.cert-page {
  width: 450px;
  min-width: 445px;
  height: 600px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 15px;
  -webkit-box-shadow: 0px 5px 19px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 19px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 19px -4px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}

.cert-page:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.cert-title {
  text-align: center;
  font-size: 40px;
  padding: 5px;
  font-family: 'Quantico', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

.cert-text {
  padding: 15px;
  font-size: large;
}

.line-cert {
  border-color: rgba(14, 175, 9, 0.459);
  margin: 5px 15px 15px 15px;
}

.server-img {
  width: 600px;
  margin-top: 100px;
  margin-left: 15px;
}

.stamp {
  position: absolute;
  height: 150px;
  margin-top: 500px;
  margin-left: 350px;
  z-index: 1;
  transition: 0.3s;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.content5-wrapper {
  background-image: url('./img/serverback.jpg');
  height: 600px;
  width: 100%;
}
